body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--main-title-color);
    background-color: var(--secondary-title-color);
}

:root {
    --main-title-color: #212121;
    --secondary-title-color: #FFFFFF;
    --main-btn-color: #2196F3;
    --about-text-color: #757575;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
    max-width: 1600px;
    padding: 94px 0px;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), 
        url(../images/ImgHero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
    border: none;
}

.address {
    font-style: normal;
}

.header-container {
    display: flex;
    margin-right: auto;
}
.main-navigation {
    margin-left: 93px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
}
.header-list .nav-link.current {
    color: var(--main-btn-color);
}

.header-icon {       
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    align-items: center;

    color: var(--about-text-color)    
}

.header-icon:focus, .header-icon:hover {
    color: var(--main-btn-color);
    fill: var(--main-btn-color);
}

.icon-list {
    display: flex;
    gap: 30px;

}

.contact-items {
    width: 16px;
    height: 12px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 93px;
}

.logo-link {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
}

.logo-header {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.logo-header-footer {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}

.logo-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;

    color: var(--secondary-title-color);
}

.nav-link,
.link-logo-tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    transition: color 250ms linear;
}

.header-list:hover, .header-list:focus {
    color: var(--main-btn-color);
}

.nav-link:hover, .nav-link:focus {
    color: var(--main-btn-color);
}

.link-mail:hover, .link-mail:focus {
    color: var(--main-btn-color);
}

.link-logo-tel:hover, .link-logo-tel:focus {
    color: var(--main-btn-color);
}

.footer-mail:focus, .footer-mail:hover {
    color: var(--main-btn-color);
}

.footer-tel:hover, .footer-tel:focus {
    color: var(--main-btn-color);
}

.footer-adress:hover, .footer-adress:focus {
    color: var(--main-btn-color);
}

.link-logo-tel {
    color: var(--about-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 200ms linear;
}
.link-header {
display: flex;
align-items: center;
gap: 10px;
}

.link-mail {
    font-weight: 500;
    color: var(--about-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 200ms linear;
}

.container-hero {
    width: 1600px;
    margin: auto;
    background-color: #2F303A;
}

.item-block {
    width: 270px;
}
.hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--main-btn-color);
    color: var(--secondary-title-color);
    margin-bottom: 30px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    min-width: 216px;
    height: 50px;
}
.button:hover, .button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-about {
    padding-bottom: 0;
}

.section-work {
    background-color: #FFFFFF;
    padding: 0;
}
.about-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
}
.section-upper {
    display: flex;
    padding: 0;
}
.section-main {
    display: flex;
    gap: 30px;
}

 
.section-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--about-text-color);
}

.section-item {
    height: 120px;
    display: flex;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.icon-items {
    width: 70px;
    height: 70px;

} 

.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.work-link {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}

.work-list {
    display: flex;
    gap: 30px;

}
.section-work {
    margin-top: 94px;
}
 .item-work {
    display: flex;
 }

 .team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition: background-color 250ms linear, fill 250ms linear;

}

 .team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    
}

.soc-items {
    width: 44px;
    height: 44px;
}

.team-soc-link:hover {
    background-color: var(--main-btn-color);
    fill: var(--secondary-title-color);
}

.section-team {
    background-color: #F5F4FA;
}

.team-container {
    display: flex;
    width: 1200px;
}
.team-wrap {
    align-items: center;
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-item {
    padding-bottom: 30px;
    background: var(--secondary-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    margin-top: 30px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-items {
    width: calc((100% - 150px) / 6);
    height: 92px;

}
.clients-soc-link {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 5px;
    display: flex;
    fill: #AFB1B8;
}

.clients-soc-link:hover, .clients-soc-link:focus {
    border: 1px solid var(--main-btn-color);
    fill: var(--main-btn-color);
}
.clients-soc-item {
    width: 106px;
    height: 60px;
}

.about-team {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--about-text-color);
}

.item-wrap {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block; 
}

.footer-container {
    display: flex;
    height: 252px;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 215px;
}
.container-wrap {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
}
.logo-footer {
display: flex;
margin-bottom: 20px;
}

.footer-adress {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    margin-bottom: 9px;
    transition: color 250ms linear;
}

.footer-mail {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    transition: color 250ms linear;
}


.footer-tel {
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    transition: color 250ms linear;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.soc-footer {
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--secondary-title-color);
}

.footer-soc-link {
    display: flex;
}

.soc-section {
    display: flex;
    margin-top: 22px;
}

.footer-items {
    margin-right: 70px;
}

/* .backdrop {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
}

.modal {
    width: 581px;
    min-height: 528px;
    background-color: var(--secondary-title-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
} */
